@charset "UTF-8"; 

 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    width: 350px;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;  /* 모든 항목을 가운데 정렬 */
}
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;  /* 입력 필드와 레이블의 너비를 컨테이너에 맞춤 */
}
.form-group label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
input[type="text"], input[type="password"] {
	text-align: center; /* 텍스트를 가운데 정렬 */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}
.submit-btn {
    width: 150px;  /* 버튼 너비를 줄임 */
    padding: 10px;
    background-color: #3fc3ed;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.submit-btn:hover {
    background-color: #2196F3;
}