@charset "UTF-8";

/* css 작성 */

/* 문제1. 전체화면: 폭은 800px, 높이는 620px, 화면 중앙 정렬 */
body {
    width: 800px;
    height: 620px;
    margin: 0 auto;
    border: 1px solid grey;
}

/* 문제2. 상단의 제목: 가운데 정렬 */
h1 {
    display: block;
    background-color: blue; /* 문제4 */
    color: white;
    text-align: center;
}
h4 {
    color: blue; /* 문제4 */
}

/* 문제3. 맞춘 개수를 출력하는 영역에 임의의 배경색 변경 */
main {
    text-align: center;
    background-color: lightcyan;
}
table {
    width: 70%;
    text-align: center;
    margin-left: 60px;
}
th, td {
    width: 20%;
    text-align: left;
}
.exScore {
    margin: 0px;
    color: blue; /* 문제4 */
}
input {
    width: 60px;
    text-align: right;
}

/* 문제5. 불합격 문구의 배경색(gainsboro) & 글자색(=red)을 이미지와 같이 변경 */
#result {
    width: 80px;
    height: 30px;
    background-color: gainsboro;
    color: red;
    margin: 0 auto;
    text-align: center;
}