.background-image {
    background-image: url('/img/20456699-베니스-이탈리아-배경에-마돈나-델ella-경례-교회와-아카데미아-다리의-상단에서-그랜드.jpg'); /* 배경 이미지 */
    background-size: cover; /* 배경 이미지 크기 조절 */
    background-position: center; /* 배경 이미지 위치 설정 */
    height: 650px; /* 배경 이미지 높이 설정 */
    position: relative; /* 자식 요소 위치를 위한 상대적 위치 설정 */
    margin-top: 25px;
}

.button {
    position: absolute; /* 절대 위치 설정 */
    left: 150px; /* 왼쪽 위치 */
    top: 50%; /* 세로 중앙 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
    padding: 0; /* 버튼 내부 여백 제거 */
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 마우스 커서 변경 */
    border-radius: 15px; /* 버튼 모서리 둥글게 */
    width: 400px;
    height:400px;
    /*display: flex; /* 플렉스박스를 사용하여 내용 정렬 */
}

.button img {
    width: 100%; /* 이미지 높이 설정 */
    height: auto; /* 이미지와 텍스트 간의 간격 설정 */
    display: block;/*블록 요소로 설정해서 버튼 내부 여백 제거*/
    border-radius: 15px; /* 버튼 모서리 둥글게 */
}

.big_button{
    margin-left: 655px;
    margin-bottom: 20px;
}

.pageName{
    /* 위 | 오른쪽 | 아래 | 왼쪽 */
    margin: 30px 0 80px 140px;
    
}

.colored-background {
    background-color: #a9f5f2; /* 배경색 설정 */
    padding: 20px; /* 여백 설정 */
    margin-top: 20px; /* 상단 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border-radius: 10px; /* 모서리 둥글게 */
    height: 900px; /* 높이 설정 */
}

.info-title {
    font-size: 40px; /* 제목 크기 조정 */
    text-align: left;
    margin-top: 50px;
    font-weight: 900;
    margin-left: 30px; /* 왼쪽 여백 */
}

.info-subtitle {
    text-align: left; /* 부제목 왼쪽 정렬 */
    font-weight: bolder;
    margin-top: 100px; /* 상단 여백 */
    margin-left: 280px; /* 오른쪽으로 이동 */
    font-size: 30px; /* 부제목 크기 조정 */
}

.info-details {
    text-align: left; /* 내용 왼쪽 정렬 */
    font-size: 25px; /* 내용 크기 조정 */
    margin-left: 600px; /* 왼쪽 여백 */
    font-weight: bold;
    margin-top: 50px;
}

.info-details p{
    margin-bottom: 15px;
}

.info-details span a {
    margin-bottom: 10px; /* 아래쪽 여백 추가 */
    display: inline-block; /* 블록 요소로 설정하여 여백 적용 */
}
