<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티 읽기</title>
    
    <!-- 2. 부트스트랩 실행 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- 4. css불러오기 -->
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <link th:href="@{/css/allpage.css}" rel="stylesheet">
    <link th:href="@{/css/community/read/read.css}" rel="stylesheet">
</head>
<body>
    <!--메뉴 nav-->
    <!-- 상단 네비게이션 메뉴 -->
    <nav class="main_nav">  <!--nav태그 -->
        <a th:href="@{/}"><img th:src="@{/images/로고.png}" alt="로고"></a>
      <div class="nav_container">
            <a href="#" id="scrollToPackage">인기패키지</a>
            <a href="#" id="scrollToTip">여행 팁</a>
            <a th:href="@{/community/list}">커뮤니티</a>
            <th:block sec:authorize="not isAuthenticated()">
            	<a th:href="@{/member/login}">로그인</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
            	<div class="dropdown" style="position: relative;">
                	<a href="#" class="dropbtn">내 정보보기</a>
                 <div class="dropdown-content">
                     <a th:href="@{/myinfo/myinfo}">개인정보수정</a>
                     <a th:href="@{/myinfo/sharingroom_list}">나의 일정공유방 리스트</a>
                     <a th:href="@{/myinfo/community}">커뮤니티 관리</a>
                     <a th:href="@{/myinfo/ourtrip}">우리의 여행일지</a>
                     <a th:href="@{/member/logout}">로그아웃</a>
                 </div>
            	</div>
            </th:block>
        </div>
    </nav>
    
    <!-- 상단 배너 -->
    <section class="banner">
    
    	<!-- 커뮤니티 게시판 정보 -->
        <div class="room-info">
            <p class="title-info" th:text="${entity.title}"></p>
            <p class="date-range">
            	<span th:text="${entity.CommunityInfoEntity.communityDeparture}"></span>
            	~
            	<span th:text="${entity.CommunityInfoEntity.communityReturn}"></span>
            </p>
        </div>
        
        <!-- 게시판 작성자 -->
        <div class="user-info">
            <div class="profile">
                <img th:src="@{/images/myinfo/기본프로필.jpeg}" alt="사용자 아바타">
            </div>
            <div class="user-details">
                <p th:text="${entity.member.nickname}"></p>
            </div>
        </div>
        
        <!-- 작성자==로그인한 유저시 수정, 삭제하는 기능 추가 -->
        <div class="btn-group" sec:authorize="isAuthenticated()">
            <div class="btn-group" th:if="${#authentication.principal.id == entity.member.memberId}">
	            <button class="edit-btn">수정하기</button>
	            <button class="delete-btn">삭제하기</button>
	        </div>
        </div>

    </section>
    
    <!-- 메인 콘텐츠 -->
    <main>
    	<div>
    		<button class="movement-button" id="movement-button">동선</button>
    		<button class="comment-button" id="comment-button">코멘트</button>
    	</div>
    	<div class="movement" id="movement">
		    <div class="image-box">
	            <!-- 지도API 부착 -->
	        </div>
	
	        <!-- 일정 목록 -->
	        <table class="schedule-table" th:each="post : ${posts}">
	            <tr>
	                <td th:text="${post.title}"></td>
	            </tr>
	            <tr>
	                <td style="height:150px" th:text="${post.content}"></td>
	            </tr>
	        </table>
	
	        <!-- 댓글 섹션 -->
	        <section class="comment-section">
	            <button class="comment-btn">댓글 남기기</button>
	        </section>
    	</div>
    	
    	<div class="comment" id="comment">
    		<p th:utext="${entity.CommunityCommentsEntity.content}"></p>
    		<p th:if="${entity.CommunityCommentsEntity.content == null}"
    		>해당 코멘트 란은 공란입니다.</p>
    	</div>
    </main>

    <!-- 하단 내비게이션 -->
    <footer>
    	<p>
    		<img class="view-image" th:src="@{/images/community/list/views.png}">
    		<span th:text="${entity.viewCount}"></span>
    	</p>
    	<p>
    		<img class="like-image" th:src="@{/images/community/list/like.png}">
    		<span th:text="${entity.likeCount}"></span>
    	</p>
    	<div class="for-div">
    	
    	</div>
        <a th:href="@{/community/read(communityId=${entity.communityId - 1})}">
        	이전
        </a>
        <a th:href="@{/community/list}">
        	&#9776;
        </a>
        <a th:href="@{/community/read(communityId=${entity.communityId + 1})}">
        	다음
        </a>
    </footer>
    
    <!-- 자바 스크립트 & jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/community/read/read.js}"></script>
</body>
</html>
